@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Стилизация Боди */
body {
  background-color: var(--primary-background-color);
  fill: var(--main-partners-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

/* Убираэт точки у всех списков */
ul {
  list-style: none;
}

/* Сбросываем марджены  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

/* Геометрия всех контейнеров */
.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.conteiner--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: #ffffff;
    z-index: 99;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.button-mobile {
  display: none;
}

@media (max-width: 767px) {
  .button-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: #fff;
    z-index: 10;
  }
}

.button-mobile:hover, .button-mobile:focus {
  fill: #2196f3;
}

.button-mobile-close {
  display: none;
}

@media (max-width: 767px) {
  .button-mobile-close {
    display: block;
    margin-left: auto;
    border: none;
    background-color: #fff;
  }
  .button-mobile-close:hover, .button-mobile-close:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.navigation__list {
  margin-bottom: 300px;
}

.navigation__item {
  margin-bottom: 32px;
}

.navigation__item:last-child {
  margin-bottom: 0px;
}

.navigation__link {
  position: relative;
  display: block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-list__link {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
  }
}

.contacts-list__ikon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.additional-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional-social__item:not(:last-child) {
  margin-right: 20px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.additional-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  position: relative;
  display: block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  content: "";
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  opacity: 1;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    font-size: 24px;
  }
}

.logo__text {
  color: #212121;
}

.auth__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth__list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .auth__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .auth__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .auth__item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .auth__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth__item {
    margin-right: 50px;
    margin-bottom: 10px;
  }
}

.auth__item:last-child {
  margin-right: 0px;
}

.auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .auth__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth__link:hover, .auth__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.auth__ikon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero480-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero480-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero768-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero768-min.jpg);
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero1200-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero1200-min.jpg);
    padding: 200px 0;
    min-height: 600px;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (min-resolution: 192dpi) and (max-width: 480px), (min-resolution: 2dppx) and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero480@2x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero480@2x-min.jpg);
  }
}

@media (min-device-pixel-ratio: 3) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 3) and (max-width: 480px), (min-resolution: 288dpi) and (max-width: 480px), (min-resolution: 3dppx) and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero480@3x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero480@3x-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 481px), (min-resolution: 192dpi) and (min-width: 481px), (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero768@2x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero768@2x-min.jpg);
  }
}

@media (min-device-pixel-ratio: 3) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 3) and (min-width: 481px), (min-resolution: 288dpi) and (min-width: 481px), (min-resolution: 3dppx) and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero768@3x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero768@3x-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 769px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px), (min-resolution: 192dpi) and (min-width: 769px), (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero1200@2x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero1200@2x-min.jpg);
  }
}

@media (min-device-pixel-ratio: 3) and (min-width: 769px), (-webkit-min-device-pixel-ratio: 3) and (min-width: 769px), (min-resolution: 288dpi) and (min-width: 769px), (min-resolution: 3dppx) and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-images/hero1200@3x-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-images/hero1200@3x-min.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 3px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(255, 255, 255, 0.5);
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    margin: 15px;
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__ikon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}

.benefits__img {
  width: 70px;
  height: 70px;
}

.benefits__secondary-title {
  color: #212121;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  width: 270px;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}

.hobbi {
  display: none;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .hobbi {
    display: block;
  }
}

.hobbi__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hobbi__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hobbi__item {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .hobbi__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

.hobbi__item:last-child {
  margin-right: 0px;
}

.hobbi__block {
  position: relative;
}

.hobbi__pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.hobbi__text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0px;
  }
}

.team__pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.person {
  padding: 30px 32px;
}

.person__title {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.person__text {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.sitebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sitebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sitebar__link:last-child {
  margin-right: 0px;
}

.sitebar__link:hover, .sitebar__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.sitebar__pic {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.partners {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.partners__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .partners__title {
    margin-bottom: 50px;
  }
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .partners__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.partners__item {
  margin-left: 30px;
  width: calc((100% - 30px * 2) / 2);
}

@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .partners__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__item:first-child {
    margin-left: 0px;
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border color;
  transition-property: border color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.partners__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-description {
    margin-right: 70px;
  }
}

.footer-description__logo {
  display: block;
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.footer-description__studio {
  color: #ffffff;
}

.address__text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}

.address__list {
  display: block;
}

.address__item {
  margin-bottom: 8px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
  .address__item:last-child {
    margin-bottom: 0px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.sitebar-footer {
  margin-right: auto;
}

.sitebar-footer__title {
  display: block;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sitebar-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.sitebar-footer__item {
  margin-right: 10px;
}

.sitebar-footer__item:last-child {
  margin-right: 0px;
}

.sitebar-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sitebar-footer__link:hover, .sitebar-footer__link:focus {
  background-color: #2196f3;
}

.sitebar-footer__pic {
  width: 20px;
  height: 20px;
  fill: #f5f4fa;
}

.mail__title {
  display: block;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 93px;
  }
}

.form-footer__form {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer__form {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.form-footer__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.14;
}

.btn-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn-footer__pic {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translateX(-50%, -50%) scale(1);
          transform: translateX(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--is-hidden {
  -webkit-transform: translateX(-50%, -50%) scale(0.9);
          transform: translateX(-50%, -50%) scale(0.9);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form {
  padding: 40px;
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: 1.15;
  color: #212121;
}

.field {
  position: relative;
  margin-bottom: 10px;
}

.field__lable {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #757575;
}

.field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:focus, .field__input:hover {
  border: 1px solid #2196f3;
}

.field__svg {
  position: absolute;
  left: 12px;
  bottom: 19%;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:focus + .field__svg,
.field__input:hover + .field__svg {
  fill: #2196f3;
}

.comments {
  margin-bottom: 20px;
}

.comments__lable {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #757575;
}

.comments__textarea {
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comments__textarea:focus, .comments__textarea:hover {
  border: 1px solid #2196f3;
}

.checkbox {
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:hover, .checkbox__icon:focus {
  border: 2px solid #2196f3;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(..//images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.checkbox__link {
  padding-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

.form-btn {
  width: 200px;
  height: 50px;
  margin-left: 25%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  background: #2196f3;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-section__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item {
    margin-bottom: 50px;
  }
}

.filter__btn {
  font-family: Roboto;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn--current {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    margin-left: 30px;
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .gallery__item {
    margin-left: 30px;
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
}

.gallery__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  color: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__overlay::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 295px;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__overlay:hover::before {
  opacity: 1;
}

.gallery__link:hover .gallery__overlay::before,
.gallery__link:focus .gallery__overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery__text {
  position: absolute;
  text-align: left;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.gallery__link:hover .gallery__text,
.gallery__link:focus .gallery__text {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gallery__pic {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.gallery-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.gallery-description__subtitle {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-description__text {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
}
/*# sourceMappingURL=main.css.map */