.address-block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.address__text {
  color: $address-text-color;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__list {
  display: block;
}

.address__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.address__link {
  color: $address-link-color;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-link-color;
  }
}
