.auth__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.auth__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 10px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

.auth__link {
  display: flex;
  color: $auth-link-color;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-link-color;
    fill: $accent-link-color;
  }
}

.auth__ikon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
