.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__list {
  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.benefits__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-left: 0px;
      padding-left: 15px;
    }
    &:last-child {
      margin-right: 0px;
      padding-right: 15px;
    }
    margin: 0 15px;
    flex-basis: 25%;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.benefits__ikon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: $btn-primari-btg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}

.benefits__img {
  width: 70px;
  height: 70px;
}

.benefits__secondary-title {
  color: $primary-text-color;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__text {
  color: $secondary-text-color;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}
