.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
.benefits__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits__list {
  // margin-left: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  // @media screen and (max-width: 1199px) {
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   margin: 15px;
  // }
  // display: flex;
}
.benefits__item {
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    // margin: 15px;
    // width: calc((100% - 30px * 2) / 2);
  }

  // margin-right: 30px;

  // &:last-child {
  //   margin-right: 0px;
  // }
}

.benefits__ikon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: $btn-primari-btg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}
.benefits__img {
  width: 70px;
  height: 70px;
}
.benefits__secondary-title {
  color: $primary-text-color;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__text {
  width: 270px;
  color: $secondary-text-color;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}
