.filter {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__btn {
  font-family: Roboto;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  background-color: $btn-primari-btg-color;
  color: $btn-primary-text-color;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-secondary-btg-color;
    color: $btn-secondary-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--current {
  background-color: $btn-secondary-btg-color;
  color: $btn-secondary-text-color;
}
