.form {
  padding: 40px;
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: 1.15;

  color: $primary-text-color;

  @media screen and(max-width:767px) {
    text-align: center;
  }
}
