.form {
  padding: 40px;
  // max-width: 450px;

  @media screen and(min-width:480px) {
    width: 450px;
  }

  @media screen and(min-width:1200px) {
    width: 528px;
  }
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: 1.15;
  text-align: center;

  color: $primary-text-color;
}
