.hero {
  background-color: $hero-background-color;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-images/hero480-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero768-min.jpg);
  }

  @media (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero1200-min.jpg);
    padding: 200px 0;
    min-height: 600px;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px),
  (min-resolution: 192dpi) and (max-width: 480px),
  (min-resolution: 2dppx) and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero480@2x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 3) and (max-width: 480px),
  (min-resolution: 288dpi) and (max-width: 480px),
  (min-resolution: 3dppx) and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero480@3x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 481px),
  (min-resolution: 192dpi) and (min-width: 481px),
  (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero768@2x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 3) and (min-width: 481px),
  (min-resolution: 288dpi) and (min-width: 481px),
  (min-resolution: 3dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero768@3x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 769px),
  (min-resolution: 192dpi) and (min-width: 769px),
  (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero1200@2x-min.jpg);
  }
}
@media (min-device-pixel-ratio: 3) and (min-width: 769px),
  (min-resolution: 288dpi) and (min-width: 769px),
  (min-resolution: 3dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-images/hero1200@3x-min.jpg);
  }

  @media (min-width: 480px) {
    height: 400px;
  }

  @media (min-width: 1200px) {
    height: 600px;
  }
}

.hero__title {
  color: $hero-title-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;

  background-color: $btn-secondary-btg-color;
  color: $btn-secondary-text-color;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(255, 255, 255, 0.5),
      0px 1px 2px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(255, 255, 255, 0.5);
  }
}
