.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 25px;
  padding-bottom: 25px;
  color: $logo-web-color;
  // margin-right: 93px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    font-size: 24px;
  }
}
.logo__text {
  color: $logo-studio-header;
}
