.mail {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.mail__title {
  display: block;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: $sitebar-title-color;
  margin-bottom: 20px;
}
.form-footer {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    // margin-left: 93px;
  }
}
.form-footer__form {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}
.form-footer__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $secondary-background-color;

  color: $address-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.14;
}
