.partners {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.partners__title {
  color: $primary-text-color;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.partners__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.partners__item {
  @media screen and (min-width: 480px) {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
    width: auto;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 3) / 3);
    margin: 15px;
    width: auto;
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-partners-color;
  width: 170px;
  height: 92px;
  border: 1px solid $main-partners-color;
  border-radius: 4px;

  transition-property: border color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-link-color;
    border: 1px solid $accent-link-color;
  }
}

.partners__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
