$primary-text-color: #212121;
$secondary-text-color: #757575;
$address-text-color: #ffffff;
$auth-link-color: #757575;
$link-color: #212121;
$accent-link-color: #2196f3;
$address-link-color: rgba(255, 255, 255, 0.6);
$btn-primari-btg-color: #f5f4fa;
$btn-secondary-btg-color: #2196f3;
$btn-primary-text-color: #212121;
$btn-secondary-text-color: #ffffff;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$background-team-color: #f5f4fa;
$logo-web-color: #2196f3;
$logo-studio-footer: #ffffff;
$logo-studio-header: #212121;
$hero-title-color: #ffffff;
$team-pic-bg-color: #ffffff;
$hero-background-color: #c4c4c4;
$main-partners-color: #afb1b8;
$sitebar-title-color: #ffffff;
$bg-link-sitebar-color: rgba(255, 255, 255, 0.1);
$gallary-overlay-color: rgba(33, 150, 243, 0.9);
